.dashboardContainer{
    width: 101vw;
    height: 101vh;
    text-align: center;
    background-color: #6FD1CF;
    flex-direction: row;
}

.popup{
    font-family: "Rodina";
    font-size: 12pt;
    margin-top: -15vh;
    margin-left: 2vw;
    width: 10vw;
    height: 10vh;
    border-color:black;
    background-color: white;
    border-radius: 1vmax;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: fixed;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in, opacity 1s ease-out;
    z-index: 2;
    opacity: 0.2;
    display: flex;
    flex-direction: column;
}

.popupText{
    text-align: center;
    margin-top: 3vh;
}

.popup.activePopup{
    transform: translateY(17vh);
    opacity: 1;
 }

 .popup.desactivePopup{
     opacity: 0;
 }

 .tableau{
     width: 50%;
     margin:auto;
 }

 /* .boutton {
    justify-content: center;
    margin-top: 0.5vh;
    border-radius: 50px;
    border: 0.2em solid white;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    transition: transform 80ms ease-in;
} */

.App-header {
    background-color: #282c34;
    min-height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  
  .Card{
    font-size: 20 vh;
    background-color: #ffffff;
    min-height: 38vh;
    min-width: 60vh;
    border-radius: 15px;
  }

  .descr{
    background-color: #282c34;
    width: 45vh;
    min-height: 45vh;
  }
