.chart{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #000000;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 400px;
    display: inline-block;
    /* border-style: outset; */
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 3px;
    justify-content: center;
}
